<!doctype html>
<html>

<head th:replace="fragments/common :: head('게시판')">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
            th:replace="fragments/common :: menu('board')">
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">게시판</h1>
            <br>
            <div>총 게시물 수 : <span th:text="${boards.getTotalElements}"></span></div>
            <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
                </div>
                <button type="submit" class="btn btn-light">검색</button>
            </form>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards}">
                        <td th:text="${board.id}">번호</td>
                        <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">제목</a></td>
                        <td>작성자</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${boards.pageable.pageNumber + 1 == 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/board/list(page=${boards.pageable.pageNumber - 1}, searchText= ${param.searchText})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${boards.pageable.pageNumber + 1 == i} ? 'disabled'"
                        th:each="i: ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/board/list(page=${i - 1}, searchText= ${param.searchText})}" th:text="${i}">페이지번호</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${boards.pageable.pageNumber + 1 == boards.totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, searchText= ${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
            <a type="button" class="btn btn-secondary" style="float:right;" th:href="@{/board/form}">글쓰기</a>
        </div>
    </main>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>